export const site_title = 'iMageLore';
export const backend_root = 'http://localhost:8000'
export const api_root = `${backend_root}/api`
//export const backend_root = 'http://jacky-blackon.natapp1.cc'